<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.bills.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.hand.exam.bills.dto.Bill">
        <result column="SHIP_LINE_ID" property="shipLineId" jdbcType="DECIMAL" />
        <result column="SHIP_DOC_ID" property="shipDocId" jdbcType="DECIMAL" />
        <result column="LINE_NUM" property="lineNum" jdbcType="DECIMAL" />
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
        <result column="ISSUE_REQ_QTY" property="issueReqQty" jdbcType="DECIMAL" />
        <result column="LINE_QTY" property="lineQty" jdbcType="DECIMAL" />
        <result column="LOT_NUMBER" property="lotNumber" jdbcType="VARCHAR" />
        <result column="ISSUED_FLAG" property="issuedFlag" jdbcType="VARCHAR" />
        <result column="DOC_NUMBER" property="docNumber" jdbcType="VARCHAR" />
        <result column="TO_ORGANIZATION_ID" property="toOrganizationId" jdbcType="DECIMAL" />
        <result column="SHIPPED_TIME" property="shippedTime" jdbcType="DATE" />
        <result column="DOC_TYPE" property="docType" jdbcType="VARCHAR" />
        <result column="SHIPPMENT_STATUS" property="shippmentStatus" jdbcType="VARCHAR" />
        <result column="CONFIRMER_ID" property="confirmerId" jdbcType="DECIMAL" />
        <result column="DRIVER_NAME" property="driverName" jdbcType="VARCHAR" />
        <result column="DRIVER_PHONE" property="driverPhone" jdbcType="VARCHAR" />
        <result column="PLATE_NUMBER" property="plateNumber" jdbcType="VARCHAR" />
        <result column="FREIGHT" property="freight" jdbcType="DECIMAL" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ITEM_NUMBER" property="itemNumber" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="LOT_CONTROL" property="lotControl" jdbcType="VARCHAR" />
        <result column="SHIPPED_NUMBER" property="shippedNumber" jdbcType="VARCHAR" />
        <result column="DOC_SHIP_STATUS" property="docShipStatus" jdbcType="VARCHAR" />
    </resultMap>
    <!--更新订单-->
    <update id="updateBillDoc" parameterType="com.hand.exam.bills.dto.Bill" >
        update xxinv_shiped_doc
        <set >
            ORGANIZATION_ID =#{organizationId,jdbcType=DECIMAL},
            DOC_NUMBER =#{docNumber,jdbcType=DECIMAL},
            TO_ORGANIZATION_ID=#{toOrganizationId,jdbcType=DECIMAL},
            SHIPPED_TIME=#{shippedTime,jdbcType=DECIMAL},
            DOC_TYPE=#{docType,jdbcType=DECIMAL},
            SHIPPMENT_STATUS=#{shippmentStatus,jdbcType=DECIMAL},
            CONFIRMER_ID=#{confirmerId,jdbcType=DECIMAL},
            DRIVER_NAME=#{driverName,jdbcType=DECIMAL},
            DRIVER_PHONE=#{driverPhone,jdbcType=DECIMAL},
            plate_number=#{plateNumber,jdbcType=DECIMAL},
            FREIGHT=#{freight,jdbcType=DECIMAL}
            <if test="memo != null">
                ,MEMO=#{memo,jdbcType=DECIMAL}
            </if>
        </set>
        where SHIP_DOC_ID = #{shipDocId,jdbcType=DECIMAL}
    </update>
    <!--添加物料-->
    <insert id="insertBillLine" useGeneratedKeys="true" keyProperty="shipLineId" parameterType="com.hand.exam.bills.dto.Bill">
        INSERT INTO xxinv_shiped_doc_lines
        <trim prefix="(" suffix=")" suffixOverrides="," >
            SHIP_DOC_ID,
            LINE_NUM,
            ISSUE_REQ_QTY,
            LINE_QTY,
            LOT_NUMBER,
            ISSUED_FLAG,
            INVENTORY_ITEM_ID
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{organizationId,jdbcType=DECIMAL},
            #{lineNum,jdbcType=VARCHAR},
            #{issueReqQty,jdbcType=DECIMAL},
            #{lineQty,jdbcType=DECIMAL},
            #{lotNumber,jdbcType=VARCHAR},
            #{issuedFlag,jdbcType=VARCHAR},
            #{inventoryItemId,jdbcType=DECIMAL}
        </trim>
    </insert>
    <!--添加订单-->
    <insert id="insertBillDoc" useGeneratedKeys="true" keyProperty="shipDocId" parameterType="com.hand.exam.bills.dto.Bill">
        INSERT INTO xxinv_shiped_doc
        <trim prefix="(" suffix=")" suffixOverrides="," >
            ORGANIZATION_ID,
            DOC_NUMBER,
            TO_ORGANIZATION_ID,
            SHIPPED_TIME,
            DOC_TYPE,
            SHIPPMENT_STATUS,
            CONFIRMER_ID,
            DRIVER_NAME,
            DRIVER_PHONE,
            plate_number,
            FREIGHT
            <if test="memo != null">
                ,MEMO
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{organizationId,jdbcType=DECIMAL},
            #{docNumber,jdbcType=VARCHAR},
            #{toOrganizationId,jdbcType=DECIMAL},
            #{shippedTime,jdbcType=TIMESTAMP},
            #{docType,jdbcType=VARCHAR},
            #{shippmentStatus,jdbcType=VARCHAR},
            #{confirmerId,jdbcType=DECIMAL},
            #{driverName,jdbcType=VARCHAR},
            #{driverPhone,jdbcType=VARCHAR},
            #{plateNumber,jdbcType=VARCHAR},
            #{freight,jdbcType=DECIMAL}
            <if test="memo != null" >
                ,#{memo,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="selectByBill" parameterType="com.hand.exam.bills.dto.Bill" resultMap="BaseResultMap">
        SELECT
        ship.SHIP_LINE_ID,
        ship.SHIP_DOC_ID,
        ship.LINE_NUM,
        ship.ISSUE_REQ_QTY,
        ship.LINE_QTY,
        ship.LOT_NUMBER,
        ship.ISSUED_FLAG,
        ship.INVENTORY_ITEM_ID,
        doc.ORGANIZATION_ID,
        doc.DOC_NUMBER,
        doc.TO_ORGANIZATION_ID,
        doc.SHIPPED_TIME,
        doc.DOC_TYPE,
        doc.SHIPPMENT_STATUS,
        doc.CONFIRMER_ID,
        doc.DRIVER_NAME,
        doc.DRIVER_PHONE,
        doc.plate_number,
        doc.FREIGHT,
        doc.MEMO,
        item.ITEM_ID,
        item.ITEM_NUMBER,
        item.DESCRIPTION,
        item.LOT_CONTROL,
        ship.LINE_QTY-ship.ISSUE_REQ_QTY SHIPPED_NUMBER
        FROM xxfnd_organization_access_b org,
        xxfnd_organization_access_b tog,
        xxinv_material_item item,
        xxinv_shiped_doc doc,
        xxinv_shiped_doc_lines ship
        <where>
            ship.SHIP_DOC_ID=doc.SHIP_DOC_ID
            AND doc.TO_ORGANIZATION_ID=org.ORGANIZATION_ID
            AND doc.ORGANIZATION_ID=tog.ORGANIZATION_ID
            AND ship.INVENTORY_ITEM_ID=item.INVENTORY_ITEM_ID
            <if test="shipDocId != null">
                and ship.SHIP_DOC_ID = #{shipDocId,jdbcType=DECIMAL}
            </if>
        </where>
        order by ship.SHIP_LINE_ID
    </select>

</mapper>