<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.bills.mapper.DocMapper">
    <resultMap id="BaseResultMap" type="com.hand.exam.bills.dto.Doc">
        <result column="SHIP_DOC_ID" property="shipDocId" jdbcType="DECIMAL" />
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
        <result column="DOC_NUMBER" property="docNumber" jdbcType="VARCHAR" />
        <result column="TO_ORGANIZATION_ID" property="toOrganizationId" jdbcType="DECIMAL" />
        <result column="SHIPPED_TIME" property="shippedTime" jdbcType="DATE" />
        <result column="DOC_TYPE" property="docType" jdbcType="VARCHAR" />
        <result column="SHIPPMENT_STATUS" property="shippmentStatus" jdbcType="VARCHAR" />
        <result column="CONFIRMER_ID" property="confirmerId" jdbcType="DECIMAL" />
        <result column="DRIVER_NAME" property="driverName" jdbcType="VARCHAR" />
        <result column="DRIVER_PHONE" property="driverPhone" jdbcType="VARCHAR" />
        <result column="PLATE_NUMBER" property="plateNumber" jdbcType="VARCHAR" />
        <result column="FREIGHT" property="freight" jdbcType="DECIMAL" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>