<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.bills.mapper.ShipedDocMapper">
    <resultMap id="BaseResultMap" type="com.hand.exam.bills.dto.ShipedDoc">
        <result column="SHIP_DOC_ID" property="shipDocId" jdbcType="DECIMAL" />
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
        <result column="DOC_NUMBER" property="docNumber" jdbcType="VARCHAR" />
        <result column="TO_ORGANIZATION_ID" property="toOrganizationId" jdbcType="DECIMAL" />
        <result column="SHIPPED_TIME" property="shippedTime" jdbcType="DATE" />
        <result column="DOC_TYPE" property="docType" jdbcType="VARCHAR" />
        <result column="SHIPPMENT_STATUS" property="shippmentStatus" jdbcType="VARCHAR" />
        <result column="CONFIRMER_ID" property="confirmerId" jdbcType="DECIMAL" />
        <result column="DRIVER_NAME" property="driverName" jdbcType="VARCHAR" />
        <result column="DRIVER_PHONE" property="driverPhone" jdbcType="VARCHAR" />
        <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
        <result column="FREIGHT" property="freight" jdbcType="DECIMAL" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>

    <select id="selectLovShipedDoc" resultMap="BaseResultMap">
        SELECT
        SHIP_DOC_ID,
        ORGANIZATION_ID,
        DOC_NUMBER,
        TO_ORGANIZATION_ID,
        SHIPPED_TIME,
        DOC_TYPE,
        SHIPPMENT_STATUS,
        CONFIRMER_ID,
        DRIVER_NAME,
        DRIVER_PHONE,
        plate_number,
        FREIGHT,
        MEMO,
        PROGRAM_APPLICATION_ID,
        PROGRAM_UPDATE_DATE
        FROM
        xxinv_shiped_doc
        WHERE 1=1
        <if test="shipDocId!=null and !''.equals(shipDocId) ">
            AND SHIP_DOC_ID=#{shipDocId}
        </if>
        <if test="DOC_NUMBER!=null and !''.equals(docNumber) ">
            AND DOC_NUMBER=#{docNumber}
        </if>
    </select>

</mapper>