<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.exam.bills.mapper.TxnsMapper">
    <resultMap id="BaseResultMap" type="com.hand.exam.bills.dto.Txns">
        <result column="TRANSACTION_ID" property="transactionId" jdbcType="DECIMAL" />
        <result column="ORGANIZATION_ID" property="organizationId" jdbcType="DECIMAL" />
        <result column="SUBINVENTORY_CODE" property="subinventoryCode" jdbcType="VARCHAR" />
        <result column="TO_ORGANIZATION_ID" property="toOrganizationId" jdbcType="DECIMAL" />
        <result column="TO_SUBINVENTORY_CODE" property="toSubinventoryCode" jdbcType="VARCHAR" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="LOT_NUMBER" property="lotNumber" jdbcType="VARCHAR" />
        <result column="TRANSACTION_TYPE_NAME" property="transactionTypeName" jdbcType="VARCHAR" />
        <result column="TRANSACTION_QUANTITY" property="transactionQuantity" jdbcType="DECIMAL" />
        <result column="UOM_CODE" property="uomCode" jdbcType="VARCHAR" />
        <result column="TRANSACTION_DATE" property="transactionDate" jdbcType="DATE" />
        <result column="SOURCE_TABLE" property="sourceTable" jdbcType="VARCHAR" />
        <result column="SOURCE_KEY1" property="sourceKey1" jdbcType="VARCHAR" />
        <result column="SOURCE_KEY2" property="sourceKey2" jdbcType="VARCHAR" />
        <result column="SOURCE_DOC" property="sourceDoc" jdbcType="VARCHAR" />
        <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR" />
        <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR" />
        <result column="PROCESS_MESSAGE" property="processMessage" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>